<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/reset.css">
<title>列表页</title>

</head>
<body class="clear_fix">
    <div class="top clear_fix">
        <div class="container">
        <div class="top0">
            <div class="left">
                欢迎光临，漫客商城！
                <a href="login.html" class="login">登录</a>
                "|"
                <a href="register.html" class="register">注册</a>
            </div>
            <div class="right">
                <ul>
                    <li class=myorder><a href="3" class="order">我的订单</a></li>
                    <li><a href="#" class="order">新手指南</a></li>
                    <li class=li1><a href="#">收藏本站</a></li>
                    <li class="li3"><a href="#">微信扫一扫<img src="../static/images/ma.png" width="160"></a></li>
                </ul>
            </div>
            <div class="clear0"></div>
        </div>
        <div class="top1 clear_fix">
            <div class="logo">
                <a href="../index.html">
                    <img src="../static/images/logo.png" alt="">
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="#">热门周边</a>
                    <div class="box box1 clear_fix">
                            
                    </div>
                </li>
                <li>
                    <a href="#">热门漫画</a>
                    <div class="box box2 clear_fix">
                        
                    </div>
                </li>
                <li>
                    <a href="#">优秀小说</a>
                    <div class="box box3 clear_fix">
                        
                    </div>
                </li>
            </ul>
            

            <div class="search">
                <input type="text" name="keywords" placeholder="请输入关键字搜索">
                <input type="submit" value="">
            </div>
        </div>
    </div>
</div>




<div class="index_body clear_fix" style="padding-top:50px;">
    <div class="container clear_fix listContainer">
   
    </div>
</div>

<div class="list" style="margin:auto;"></div>

<div class="footer clear_fix">
    <div class="right_nav">
        <ul>
            <li>
                <a href="cart.html">
                <i>购</br>物</br>车</br></i>
                <b class="cart_counts">0</b>
                </a>
            </li>
            <li>
                <a href="../index.html">
                <i>返回
                    <span>返回首页</span>
                </i>
                </a>
                
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="footer_nav">
            <ul>
                <li><a href="#">知音漫客旗舰店 </a></li>
                <li><a href="#">知音动漫图书官方店 </a></li>
                <li><a href="#">漫客读书 </a></li>
                <li><a href="#">馒头官微</a></li>
                <li><a href="#">知音漫客官微 </a></li>
                <li><a href="#">筑梦二次元 </a></li>
            </ul>
        </div>
        <div class="our_services clear_fix">
            <p>服务时间：08:30-17:00 </p>
            <p>客服热线：<span>027-68883360</span></p>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="footer_info clear_fix"> Copyright ©2007 - 2017 湖北知音动漫有限公司版权所有 <br>
            网址：www.zymkshop.com 备案号：鄂ICP备17018280号<br>
            <div style="width:300px;margin:0 auto; padding:20px 0;">
                <a target="_blank"
                    href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42010602003555"
                    style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../static/images/beian.png" style="float:left;" />
                    <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备
                        42010602003555号</p>
                </a>
            </div> <a href="https://m.kuaidi100.com/" target="_blank" >快递查询</a>
        </div> 
    </div>
</div>
</body>
<script src="../static/js/cookie.js"></script>
<script src="../static/js/page.js"></script>
<script src="../static/js/promise.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/header_nav.js"></script>
<script src="../static/js/list.js"></script>
</html>