<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>用户中心_漫客商城</title>
</head>

<body>
    <div class="reg_banner">
        <div class="web_body">
            <div class="container">
                <div class="t">用户登录</div>
                <div class="t_logo"><a href="../index.html"><img src="../static/images/logo.png" /></a></div>
                <form  action="javascript:;" >
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <input class="f_input" name="username"  placeholder="请输入用户名" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td><input class="f_input" name="password" placeholder="密码" type="password" /></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" value="1" checked name="remember" style="margin: 3px 3px 3px 4px;"/>
                                请保存我这次的登录信息
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="loginBtn" name="submit" value="登 录" type="submit" />
                            </td>
                        </tr>
                    </table>
                </form>

                <div class="want_login">
                    <div class="want_a">
                        <a class="fl" href="user.php?act=get_password">忘记密码?</a>
                        <a class="fr" href="register.html">去注册</a>
                        <div class="clear0" style="clear: both"></div>
                    </div>
                    <div class="want_t"><span>其他登录方式登录</span></div>
                    <div class="qt_login">
                        <a style="margin-right: 15px;" href="#">
                            <img src="../static/images/qq.png" /></a>
                        <a  href="#">
                            <img src="../static/images/weibo.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="footer" style="background: none;">
            <div class="footer_info"> Copyright ©2007 - 2017 湖北知音动漫有限公司版权所有 <br>
                网址：www.zymkshop.com 备案号：鄂ICP备17018280号<br>
                <div style="width:300px;margin:0 auto; padding:20px 0;">
                    <a target="_blank"
                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42010602003555"
                        style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="../static/images/beian.png" style="float:left;" />
                        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备
                            42010602003555号</p>
                    </a>
                </div> <a href="https://m.kuaidi100.com/" target="_blank" >快递查询</a>
            </div>
        </div>

</body>
<script src="../static/js/promise.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/cookie.js"></script>
<script src="../static/js/login.js"></script>

</html>